.card {
  margin: 10rem 4rem;
  padding: 5rem 10rem;
  background-color: rgb(58, 68, 79);
  width: unset;
}

.grid {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  min-width: 200px;
  min-height: 200px;
}

.grid div {
  flex: 1;
  background-color: rgb(41, 41, 35);
  padding: 10px 20px;
}

.grid > div:nth-child(1) {
  flex: 3;
  display: flex;
}

.imageContainer {
  width: 200px;
  height: 300px;
}

.imageContainer img {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.title {
  border-bottom: 1px solid #ddd;
}

.buttonGroup {
  display: flex;
  column-gap: 5px;
}
